<app-login-register-navbar />
<div class="h-full">
  <div class="bg-black h-full flex justify-center items-center text-white">
    <div class="login-container custom-form flex-col">
      <div class="p-8 shadow-lg w-screen max-w-lg bg-background_gray mb-5">
        <h2 class="text-2xl text-white font-semibold mb-6 text-center">
          Zaloguj się
        </h2>
        <form (submit)="login()" [formGroup]="loginForm">
          <app-form-input
            [controlName]="'email'"
            [placeholder]="'e-mail'"
            [type]="'text'"
            [label]="'E-mail'"
          />
          <label for="password">Hasło</label>
          <div class="mb-4 relative">
            <input
              [type]="passwordVisible() ? 'text' : 'password'"
              id="password"
              formControlName="password"
              placeholder="hasło"
              class="login-register-input"
            />
            <button
              type="button"
              class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"
              (click)="togglePasswordVisibility()"
            >
              {{ passwordVisible() ? "UKRYJ" : "POKAŻ" }}
            </button>
          </div>
          <div class="mb-4 text-left">
            <a
              [routerLink]="'/ustalanie-nowego-hasla'"
              class="text-teal-400 text-sm"
              >Odzyskaj hasło</a
            >
          </div>
          <div>
            <button
              type="submit"
              class="w-full bg-orange-600 hover:bg-orange-700 text-white py-2 rounded"
            >
              ZALOGUJ SIĘ
            </button>
          </div>
        </form>
      </div>
      <div class="custom-gray flex justify-start py-5">
        <h2 class="mx-4">Pierwszy raz na E-Commerce?</h2>
        <a class="text-teal-400" [routerLink]="'/register'">Załóż Konto</a>
      </div>
    </div>
  </div>
</div>
<app-login-register-footer />
